<app-navigation></app-navigation>
<br>
<div class="container">
    <h2>Crear Noticia</h2>
    <form [formGroup]="noticiasForm" (ngSubmit)="onSubmit()">
      <!-- Título -->
      <div>
        <label for="titulo">Título:</label>
        <input id="titulo" formControlName="titulo" type="text" />
        <div *ngIf="noticiasForm.get('titulo')?.invalid && noticiasForm.get('titulo')?.touched">
          <small *ngIf="noticiasForm.get('titulo')?.hasError('required')">El título es obligatorio.</small>
          <small *ngIf="noticiasForm.get('titulo')?.hasError('minlength')">El título debe tener al menos 5 caracteres.</small>
        </div>
      </div>
  
      <!-- Descripción -->
      <div>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" formControlName="descripcion"></textarea>
        <div *ngIf="noticiasForm.get('descripcion')?.invalid && noticiasForm.get('descripcion')?.touched">
          <small *ngIf="noticiasForm.get('descripcion')?.hasError('required')">La descripción es obligatoria.</small>
          <small *ngIf="noticiasForm.get('descripcion')?.hasError('maxlength')">Máximo 150 caracteres.</small>
        </div>
      </div>
  
      <!-- Contenido -->
      <div>
        <label for="contenido">Contenido:</label>
        <textarea id="contenido" formControlName="contenido"></textarea>
        <div *ngIf="noticiasForm.get('contenido')?.invalid && noticiasForm.get('contenido')?.touched">
          <small>El contenido es obligatorio.</small>
        </div>
      </div>
  
      <!-- Autor -->
      <div>
        <label for="autor">Autor:</label>
        <input id="autor" formControlName="autor" type="text" />
        <div *ngIf="noticiasForm.get('autor')?.invalid && noticiasForm.get('autor')?.touched">
          <small>El autor es obligatorio.</small>
        </div>
      </div>
  
      <!-- Fecha -->
      <div>
        <label for="fecha">Fecha:</label>
        <input id="fecha" formControlName="fecha" type="date" />
        <div *ngIf="noticiasForm.get('fecha')?.invalid && noticiasForm.get('fecha')?.touched">
          <small>La fecha es obligatoria.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="noticiasForm.invalid">Guardar Noticia</button>
      <button class="btn-danger" routerLink="/gestion"> Cancelar </button>
    </form>
  </div>
  <br>
  <!--Listado de noticias-->
  <div class="container mt-4">
    <h2 class="text-center">Lista de Noticias</h2>
  
    <div *ngIf="noticias.length > 0; else sinNoticias">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Fecha</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let noticia of noticias">
            <td>{{ noticia.titulo }}</td>
            <td>{{ noticia.autor }}</td>
            <td>{{ noticia.fecha | date: 'shortDate' }}</td>
            <td><button class="btn-danger"(click)="eliminarNoticias(noticia.idNoticia!)" > Eliminar </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Mensaje para cuando no haya noticias -->
    <ng-template #sinNoticias>
      <p class="text-center text-muted">No hay noticias disponibles.</p>
    </ng-template>
  </div>
  
  
